<style>
    /* Card container */
    .card {
        width: 300px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    /* Card header */
    .card-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* Card content */
    .card-content {
        font-size: 16px;
        color: #333;
        line-height: 1.4;
        height: 25%;
    }

    /* Card image */
    .card-image {
        width: 100%;
        height: 50%;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    /* Card footer */
    .card-footer {
        margin-top: 10px;
        text-align: center;
        position: relative;
        bottom: 5px;
    }

    .card-footer a {
        text-decoration: none;
        color: #007BFF;
    }

    /* Card grid container */
    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 0.3fr));
        grid-gap: 10px;
        justify-items: flex-start;
    }
</style>

<div>
    <div class="card-grid">
        <!-- Add more cards here -->
        {{#each cards}}
        {{> _component_card card=this }}
        {{/each}}
    </div>
</div>