<style>
    /* Card container */
    .card {
        width: 300px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #000;
    }

    /* Card header */
    .card-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* Card content */
    .card-content {
        font-size: 16px;
        color: #999;
        line-height: 1.6;
    }

    /* Card image */
    .card-image {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    /* Card footer */
    .card-footer {
        margin-top: 10px;
        text-align: right;
    }

    .card-footer a {
        text-decoration: none;
        color: #007BFF;
    }
</style>
<div class="card">
    <img class="card-image" src={{image}} alt="Card Image">
    <div class="card-header">{{title}}</div>
    <div class="card-content">
        {{content}}
    </div>
    {{!-- <div class="card-footer">
        <a href={{link}}>{{link_title}}</a>
    </div> --}}
</div>