<style>
    #logo {
        position: fixed;
        top: 10px;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 2rem;
        line-height: 1.4;
        letter-spacing: 2px;
    }

    #logo-1, #logo-2 {
        padding: 2px 10px;
        border: 2px solid #bbb;
        margin: -2px;
    }

    #logo-1 {
        font-weight: 800;
    }

    #logo-2 {
        font-weight: 100;
    }


    #vertical-red-rectangle {
        background-image: linear-gradient(90deg, darkgreen, green);
        width: 50px;
        height: 45px;
        margin-right: -68px;
        margin-top: 1px;
        rotate: 4deg;
        z-index: -10;
        padding: 2px 10px;
    }

    #a_home {
        display: flex;
        height: 45px;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
    }

    #a_home:hover {
        color: #fff;
    }
</style>
<h3 id="logo">
    <a id="a_home" href="/">
        <span id="logo-1">
            <b>Boot</b>
        </span>
        <div id="vertical-red-rectangle"></div>
        <span id="logo-2">
            Up
        </span>
    </a>
</h3>