{{#> index }}
<style>
    .subtitle {
        margin-top: 50px;
        color: #888;
    }
    .description {
        margin-top: -10px;
        text-align: justify;
    }
</style>
<h1>About</h1>
{{!-- <p>Here reside information about our company history, culture, values, and products.</p> --}}

<h3 class="subtitle">Mission</h3>
<p class="description">BootUp is a place where entrepreneurs come to find like-minded peers that help them build a business support system.</p>

<h3 class="subtitle">Vision</h3>
<p class="description">BootUp allows entrepreneurs access to investors, and talent alike and seeks to become a startup platform where investors meet entrepreneurs meet talent.</p>
{{ /index }}