<!DOCTYPE html>
<html lang="en">
{{> _head }}
<body>
    {{> nav }}
<form action="http://127.0.0.1:8000/api/auth/v1/get_code" method="post">
    <h1 style="width: 100vw; text-align: center;">BootUp 🚀 Login</h1>
    <label for="email" hidden>Email</label>
    <input type="text" name="email" id="email" placeholder="Email">
    <label for="email" hidden>Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <input id="login-submit" type="submit" value="Submit">
</form>

{{> _body_style }}
<style>
#login-submit {
    background-color: darkgreen;
    color: white;
    border: 1px solid lightgreen;
    padding: 10px 30px;
    line-height: 1;
}
#login-submit:hover {
    color: black;
    background-color: lightgreen;
}
#login-submit:active {
    color: white;
    background-color: #111;
}
</style>
</body>
</html>