{{#> index title="| Authentication"}}
    <form>
    <h1> Authentication: </h1>
    <input class="form-item" id="code" type="text" placeholder="Ex. 123456" />
    <input id="btn_login" type="button" value="Submit" />
</form>
<script>
    const getSHA256Hash = async (input) => {
        const textAsBuffer = new TextEncoder().encode(input);
        const hashBuffer = await window.crypto.subtle.digest("SHA-256", textAsBuffer);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hash = hashArray
            .map((item) => item.toString(16).padStart(2, "0"))
            .join("");
        return hash;
    };

    // Event listeners
    document.querySelector("#btn_login").addEventListener("click", () => handle_submit())
    document.querySelector("#code").addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
            handle_submit();
        }
    });

    document.querySelector("#code").addEventListener("input", () => {
        if (document.querySelector("#code").value !== "") {
            document.querySelector("#btn_login").style.display = "block";
        } else {
            document.querySelector("#btn_login").style.display = "none";
        }
    });

    async function handle_submit() {
        console.log("Sending Verification Request")
        let payload = {
            code: document.querySelector("#code").value
        };
        payload["profiles"] = null;

        await fetch("http://127.0.0.1:8000/api/auth/exchange_code", {
            method: "post",
            headers: {
                "Content-Type": "application/json",
                Accept: "application/json"
            },
            body: JSON.stringify(payload)
        })
            .then(res => res.text())
            .then(json => console.log(json))
    }
</script>
{{ /index }}