{{#> index }}
    <h1 class="text-3xl font-bold underline">
       Demonstration
    </h1>
    <p>This project contains a backend for the BootUp project. The handlebars UI is only for testing purposes.</p>
{{ /index }}