<!DOCTYPE html>
<html lang="en">
{{> head title }}
<body>
    {{> _logo }}
    {{> body_style }}
    <div style="margin: 100px; width: 90%; margin: 100px auto;">
    {{> @partial-block }}
    {{> nav }}
    </div>
</body>
</html>