{{#> index title="| Login" }}
<form>
    <h2>Login 🚀</h2>
    <input class="form-item" id="email" type="text" placeholder="Email Address" />
    <input class="form-item" id="password" type="password" placeholder="Password" />
    <input id="btn_login" type="button" value="Login" />

    <p>New User? <a href="/register">Register</a></p>

</form>
<script>
    const getSHA256Hash = async (input) => {
        const textAsBuffer = new TextEncoder().encode(input);
        const hashBuffer = await window.crypto.subtle.digest("SHA-256", textAsBuffer);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const hash = hashArray
            .map((item) => item.toString(16).padStart(2, "0"))
            .join("");
        return hash;
    };

    // Event listeners
    document.querySelector("#btn_login").addEventListener("click", () => handle_submit())
    document.querySelector("#password").addEventListener("keypress", (e) => {
        if (e.key === "Enter") {
            handle_submit();
        }
    });

    document.querySelector("#password").addEventListener("input", () => {
        if (document.querySelector("#email").value !== "" && document.querySelector("#password").value !== "") {
            document.querySelector("#btn_login").style.display = "block";
        } else {
            document.querySelector("#btn_login").style.display = "none";
        }
    });

    async function code_exchange(code) {
        if (code) {
            const payload = {
                "code": String(code)
            };
            return await fetch("http://127.0.0.1:8000/api/auth/exchange_code", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/text"
                },
                body: JSON.stringify(payload)
            })
                .then(res => res.text())
                .then(session => {
                    return session;
                });
        }
    }

    async function login_user(email, password) {
        if (email && password) {
            const payload = {
                email: email,
                password: password
            };
            return await fetch("http://127.0.0.1:8000/api/auth/get_code", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json"
                },
                body: JSON.stringify(payload)
            })
                .then(data => data.json())
                .then(code => {
                    return code
                });
        }
    }

    async function handle_submit() {
        console.log("Sending Login Request")
        let payload = {};
        let formItems = document.querySelectorAll(".form-item");
        for (item of formItems) {
            if (item.type == "password") {
                let hash = await getSHA256Hash(item.value);
                payload["password"] = hash;
            } else {
                payload[item.id] = item.value;
            }
        }
        // Login the user
        let email = payload.email;
        let password = payload.password;
        login_user(email, password)
            .then(code => {
                code_exchange(code)
                    .then(session => {
                        localStorage.setItem("session_id", session);
                        window.location.pathname = "/";
                    });
            });
    }

    if (localStorage.getItem("session_id")){
        window.location.pathname = "/";
    }

</script>
{{ /index }}