<style>
    nav {
        position: fixed;
        width: 100vw;
        bottom: -15px;
        left: 0;
    }

    nav ul {
        background-color: transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        margin-left: -40px;
        border-top: 1px solid #ddd;
        box-shadow: -2px 0 0 #000;
    }

    .navbtn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100%;
        text-shadow: none;
	cursor: pointer;
    }

    nav ul li {
        color: #999;
        padding: 15px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        vertical-align: middle;
        user-select: none;
    }

    nav ul li:hover {
        background-color: #333;
    }

    nav ul li:active {
        background-color: #111;
    }

    nav ul li:last-child {
        background-color: darkred;
    }

    nav ul li:last-child:hover {
        background-color: darkred;
    }

    nav ul li:last-child:active {
        background-color: #111;
    }
</style>

<nav>
    <ul>
        <li class="navbtn" id="navbtn_home">Stories</li>
        <li class="navbtn navbtn-premium" id="navbtn_investors">Investors</li>
        <li class="navbtn navbtn-premium" id="navbtn_startups">Startups</li>
        <li class="navbtn navbtn-premium" id="navbtn_talent">Talent</li>
        <li class="navbtn" id="navbtn_about">About</li>
        <li class="navbtn" id="navbtn_login">Login</li>
    </ul>
</nav>

<script>
    const routes = {
        "navbtn_home": "/",
        "navbtn_investors": "/investors",
        "navbtn_startups": "/startups",
        "navbtn_talent": "/talent",
        "navbtn_about": "/about",
        "navbtn_contact": "/contact",
        "navbtn_login": "/login"
    };

    const navButtons = document.getElementsByClassName("navbtn");
    for (let btn of navButtons) {
        if (window.location.pathname == routes[btn.id]) {
            btn.style.backgroundColor = "#222";
            btn.style.color = "#fff";
            btn.style.fontWeight = "bold";
        }
        
        document.getElementById(btn.id).addEventListener("click", function () {
          
          const user_id = localStorage.getItem("user_id");

          if (user_id && btn.id == "navbtn_login"){
            window.location.pathname = "/profile/" + user_id;
          } else if (!user_id && btn.id == "navbtn_login"){
            window.location.pathname = "/login";
          } else {
            window.location.pathname = routes[btn.id];
          }
        });
    }

    async function get_user_id(session_id) {
        return await fetch(`http://127.0.0.1:8000/api/v1/session/${session_id}`)
            .then(data => data.json())
            .then(session_payload => session_payload);
    }

    async function get_user_data(user_id) {
        return await fetch(`http://127.0.0.1:8000/api/v1/user/${user_id}`)
            .then(data => data.json())
            .then(user_data => user_data);
    }

    const login = document.querySelector("#navbtn_login");

    if (localStorage.getItem("session_id")) {
        login.style.backgroundColor = "green";
        login.style.color = "#ddd";
        login.style.fontWeight = "bold";

        get_user_id(localStorage.getItem("session_id"))
            .then(data => {
                const user_id = data[0]["result"][0]["user_id"].split(":")[1];
                get_user_data(user_id)
                    .then(data => {
                        let user_data = data[0]["result"][0];
                        login.textContent = user_data.firstname;
                        localStorage.setItem("user_id", user_id);
                    });
            });

        
    } else {
        login.style.backgroundColor = "orangered";
        login.style.color = "#111";
        
        // Disable additional pages for non-members
        for (let premiumNav of document.querySelectorAll(".navbtn-premium")) {
            premiumNav.style.display = "none";
        }
    }

</script>
