{{#> index }}
<style>
  #submit-btn {
    background-color: orangered;
    border: 1px solid red;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .action-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
  }
</style>
<form>
  <input type="text" name="firstname" id="txt_firstname" placeholder="First Name">
  <input type="text" name="lastname" id="txt_lastname" placeholder="Last Name">
  <input type="text" name="email" id="txt_email" placeholder="Email Address">

</form>
<div class="action-bar">
  <button id="submit-btn" onClick="logout()">Logout</button>
</div>
<script>

  function logout() {
    localStorage.removeItem("session_id");
    localStorage.removeItem("user_id");
    window.location.pathname = "/";
  }

  let user = "{{user}}".replaceAll("&quot;", "\"");
  user = JSON.parse(user);

  if (user){
    const inputs = document.querySelectorAll("input");

    for (let input of inputs) {
      input.value = user[input.name];
    }
  }

</script>
{{ /index }}
